{% macro todo_li(text, completed=Flase) %}
    {{ "[x]" if completed else "[ ]" }} - {{ text }}
{% endmacro %}


{% macro todo_list(todos) %}
    <ul>
        {% for text, completed in todos %}
            <li>{{ todo_li(text, completed) }}</li>
        {% endfor %}   
    </ul>
{% endmacro %}